
@font-face {
  font-family: 'ApercuPro';
  src: url('../fonts/ApercuPro.eot');
  src: url('../fonts/ApercuPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ApercuPro.woff') format('woff'),
  url('../fonts/ApercuPro.ttf') format('truetype'),
  url('../fonts/ApercuPro.svg#Intro') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro';
  src: url('../fonts/ApercuPro-LightItalic.eot');
  src: url('../fonts/ApercuPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ApercuPro-LightItalic.woff') format('woff'),
  url('../fonts/ApercuPro-LightItalic.ttf') format('truetype'),
  url('../fonts/ApercuPro-LightItalic.svg#Intro') format('svg');
  font-weight: 100;  
  font-style: italic;
}

@font-face {
  font-family: 'ApercuPro';
  src: url('../fonts/ApercuPro-Demibold.eot');
  src: url('../fonts/ApercuPro-Demibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ApercuPro-Demibold.woff') format('woff'),
  url('../fonts/ApercuPro-Demibold.ttf') format('truetype'),
  url('../fonts/ApercuPro-Demibold.svg#Intro') format('svg');
  font-weight: 600;  
  font-style: normal;
}

@font-face {
  font-family: 'ApercuPro';
  src: url('../fonts/ApercuPro-Bold.eot');
  src: url('../fonts/ApercuPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ApercuPro-Bold.woff') format('woff'),
  url('../fonts/ApercuPro-Bold.ttf') format('truetype'),
  url('../fonts/ApercuPro-Bold.svg#Intro') format('svg');
  font-weight: 700;  
  font-style: normal;
}